
    <div id="fullInfo"  >
        <p>full info:</p>
        <div >
            <h3>
                <input type="text" name="userCompany" ng-model="user.general.firstName"  ng-blur="functionShowData()"/> {{user.general.lastName}}
                <img src="{{user.general.avatar}}" alt="{{user.general.firstName}}">
                <div class="controls">
                    <button id="btnBack" ng-click="functionGoToMainPage()">Back to main page</button>
                </div>
            </h3>

            <p>index: {{index}} </p>
            <br>
            <p><b>Job:</b></p>
            <p>
                <form name="userJob">
                    <label>title:
                        <input type="text" name="userTitle" ng-model="user.job.title" ng-blur="functionShowData()" />
                    </label>
                    <label>, in company:
                        <input type="text" name="userCompany" ng-model="user.job.company" />
                    </label>
                </form>
            </p>
            <p><b>Contact info:</b></p>
            <p>
                <form name="userContact">
                    <label>e-mail:
                        <input type="text" name="userMail" ng-model="user.contact.email" />
                    </label>
                    <label>, phone:
                        <input type="text" name="userPhone" ng-model="user.contact.phone" />
                    </label>
                </form>
            </p>
            <p><b>Address:</b></p>
            <p>
                <form name="userAddress">
                    <label>street:
                        <input type="text" name="userAddrStreet" ng-model="user.address.street" />
                    </label>
                    <label>, city:
                        <input type="text" name="userAddrCity" ng-model="user.address.city" />
                    </label>, <br>
                    <label>zipCode:
                        <input type="text" name="userAddrZip" ng-model="user.address.zipCode" size="18" />
                    </label>
                    <label>, country:
                        <input type="text" name="userAddrCountry" ng-model="user.address.country"  size="17" />
                    </label>
                </form>
            </p>



            <!--<p><b>Job:</b>  {{user.job.title}} in "{{user.job.company}}".</p>-->
            <!--<p><b>Contact info:</b>  {{user.contact.email}}, phone: {{user.contact.phone}}.</p>-->
            <!--<p><b>Address:</b>  </p>-->
            <!--<p>{{user.address.street}},</p>-->
            <!--<p>{{user.address.city}},</p>-->
            <!--<p>{{user.address.zipCode}},</p>-->
            <!--<p>{{user.address.country}}</p>-->
        </div>

    </div>

